<div class="landing-page">
    <section class="landing-imagination" device-height>
        <nav>
            <ul>
                <li ng-if="!hasToken()"><a class="landing-nav-active" href="#sign">Sign</a></li>
                <li ng-if="hasToken()"><a class="landing-nav-active" href="#landing">Hi, dude!</a></li>

                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>

                <li ng-if="hasToken()"><a href="#landing" ng-click="logout()">Logout</a></li>
            </ul>
        </nav>
        <img src="resources/img/imagination.jpg" alt="Mue Universe"/>
        <p class="landing-imagination-description">You cannot imagine how glad I see you here</p>
    </section>
    <section class="landing-about">
        <p>
            About 3 years ago programming absorbed me. I like frontend and backend development. I started work under the
            own project to learn and understand them deeply.
            I have had a long way to go before I could ​present it to the ​public.
            It is 3d reincarnation of my initial idea and first public version of it and
        </p>

        <p>
            <b>I am very pleased and proud to announce that <a class="landing-significant" href="http://rabbit.mue.in.ua">rabbit.mue.in.ua</a> was launched and ready for use.</b>
        </p>

        <p>
            Follow the rabbit to save your time.
            <a class="landing-significant" href="http://rabbit.mue.in.ua">rabbit.mue.in.ua</a> allows you to get easy access to your favorite rss feeds.
            Just subscribe to your favorite feeds and Rabbit will do the rest.
            Rabbit will help you to organize, read and share the content of your favorite sites
        </p>

        <p>
            I decided that the Rabbit have to be presented to a small audience for usage and evaluation.
            I am kindly asking you to be his judge. Your feedback is really important for me and I will be very thankful for them.
            I have to understand whether my creation needed for people and if yes, what things have to be improved first of all.
        </p>

        <p>
            Please provide me some <a class="landing-significant" href="mailto:mue.miv@gmail.com">feedback</a>. Your comments and suggestions would be greatly appreciated. Thank you for your time and effort.
        </p>
    </section>

    <section class="landing-contact">

    </section>
</div>